<div id="shell">
  <app-header></app-header>
  <app-toolbar></app-toolbar>
  <div *ngIf="movie!=null && director!=null" class="container mt-3">
    <div class="row">
      <div class="col-md-4">
        <img *ngIf="movie.image_url" alt="p" class="img-fluid" src="http://127.0.0.1:8000{{movie.image_url}}">
      </div>
      <div class="col-md-8">
        <h1 class="display-4">{{movie.title}}</h1>
        <p class="lead"
           style="color: white; font-size: 30px">{{ movie.average_rating | number: '1.1-1' }} ⭐</p>
        <p style="color: white; font-size: 25px">{{movie.description}}</p>
        <p style="color: white; font-size: 25px">Release Date: {{movie.release_date}}</p>
        <p style="color: white; font-size: 25px">Director: <a
          routerLink="/directors/{{director.id}}">{{director.name}}</a></p>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-md-6">
        <button *ngIf="user && user.username == 'admin'" [routerLink]="['/update_movie/', movie.id]"
                class="btn btn-primary">Update Movie
        </button>
      </div>
      <div class="col-md-6 text-right">
        <button (click)="delete()" *ngIf="user && user.username == 'admin'" class="btn btn-danger">Delete Movie</button>
      </div>
    </div>
    <app-reviews [movieId]="movie.id"></app-reviews>
  </div>
</div>

