<div id="shell">
  <app-header></app-header>
  <app-toolbar></app-toolbar>
  <div *ngIf="movie!=null && director!=null">
    <div id="main">
      <div class="row">
        <div class="movie">

          <div class="movie-image">
            <img *ngIf="movie.image_url" alt="p" src="http://127.0.0.1:8000{{movie.image_url}}">
          </div>

          <div class="rating">
            <p> {{ movie.average_rating ? movie.average_rating : movie.rating}} ⭐</p>
          </div>
        </div>
        <h1>{{movie.title}}</h1>
        <h1>Desc: {{movie.description}}</h1>
        <h1>Realease Date: {{movie.release_date}}</h1>
        <h1>Director: {{director.name}}</h1>
      </div>
      <button *ngIf="user && user.username == 'admin'" [routerLink]="['/update_movie/', movie.id]" style="margin-left: auto;padding: 2%;">Update Movie</button>
      <button *ngIf="user && user.username == 'admin'" (click)="delete()">Delete Movie</button>
    </div>
    <app-reviews [movieId]="movie.id"></app-reviews>
  </div>
</div>
