<div class="listing">
  <div class="listing__head">
    <h3 *ngIf="!searchRes" class="listing__title">Movies</h3>
    <h3 *ngIf="searchRes" class="listing__title">Search Movies</h3>
  </div>
  <form>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <div class="input-group">
            <input (keyup.enter)="searchMovies()" [(ngModel)]="searchStr" class="form-control searchdesign"
                   name="searchStr"
                   placeholder="Search for movies..." type="text">
            <span class="input-group-btn">
                            <button (click)="searchMovies()" class="btn btn-primary btnDesign"
                                    type="button">Go!</button>
                        </span>
          </div>
        </div>
      </div>
    </div>
  </form>

  <ng-container *ngIf="searchRes">
    <app-skeleton *ngIf="loader"></app-skeleton>
    <div *ngIf="!loader" class="row">
      <div *ngFor="let movie of searchRes | slice:0:18" class="col-md-2 listing__items">
        <div [routerLink]="['/movies/', movie.id]">
          <div class="listing-item-style">
            <div class="overlay">
              <div class="hover"><i class="material-icons">play_arrow</i> PLAY NOW</div>
            </div>
            <img *ngIf="movie?.poster_path" [alt]="movie.title ? movie.title : movie.name"
                 src="https://image.tmdb.org/t/p/w370_and_h556_bestv2/{{movie?.poster_path}}">
            <img *ngIf="!movie?.poster_path" [alt]="movie.title ? movie.title : movie.name"
                 src="assets/images/default-movie.png">
            <h6>{{ movie?.title }}</h6>
            <p class="rate"><i class="material-icons">star</i><span>{{movie?.vote_average}}</span> /10</p>
            <p class="year"><span>{{movie?.release_date | date: 'yyyy'}}</span>
            </p>
          </div>
        </div>
      </div>
    </div>
  </ng-container>

  <app-skeleton *ngIf="loader"></app-skeleton>
  <div *ngIf="!loader" class="row">
    <div *ngFor="let movie of topRated | slice:0:18" class="col-md-2 listing__items">
      <div [routerLink]="['/movies/', movie.id]">
        <div class="listing-item-style">
          <div class="overlay">
            <div class="hover"><i class="material-icons">play_arrow</i> PLAY NOW</div>
          </div>
          <img [alt]="movie.title ? movie.title : movie.name"
               src="https://image.tmdb.org/t/p/w370_and_h556_bestv2/{{movie?.poster_path}}">
          <img *ngIf="!movie?.poster_path" [alt]="movie.title ? movie.title : movie.name"
               src="assets/images/default-movie.png">
          <h6>{{ movie?.title }}</h6>
          <p class="rate"><i class="material-icons">star</i><span>{{movie?.vote_average}}</span> /10</p>
          <p class="year"><span>{{movie?.release_date | date: 'yyyy'}}</span>
          </p>
        </div>
      </div>
    </div>
  </div>

  <mat-paginator (page)="changePage($event)" [length]="totalResults" [pageSize]="20"></mat-paginator>

</div>
