<div id="shell">
  <app-header></app-header>
  <app-toolbar></app-toolbar>
  <div *ngIf="director!=null && director!=null" class="container mt-3">
    <div class="row">
      <div class="col-md-4">
        <img *ngIf="director.image_url" alt="p" class="img-fluid" src="http://127.0.0.1:8000{{director.image_url}}">
      </div>
      <div class="col-md-8">
        <h1 class="display-4">{{director.name}}</h1>
        <p class="lead" style="color: white; font-size: 25px">Age: {{director.age}}</p>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-md-6">
        <button *ngIf="user && user.username == 'admin'" [routerLink]="['/update_director/', director_id]"
                class="btn btn-primary">Update Director
        </button>
      </div>
      <div class="col-md-6 text-right">
        <button (click)="delete()" *ngIf="user && user.username == 'admin'" class="btn btn-danger">Delete Director
        </button>
      </div>
    </div>
    <app-director-movies [movies]="movies"></app-director-movies>
  </div>
</div>

