<div class="container">
  <div class="row">
    <p></p>
  </div>
  <div class="row">
    <h3 style="color: #f2a223"><a routerLink="/movielist/Latest">Latest Movies</a></h3>
  </div>
  <div class="row">
    <div *ngFor="let movie of movies_release_date" class="col-md-3 mb-4">
      <div class="card h-100">
        <img alt="Movie poster" class="card-img-top" src="http://127.0.0.1:8000{{movie.image_url}}">
        <div class="card-body">
          <h5 class="card-title" style="color: black">{{ movie.title }}</h5>
          <p class="card-text" style="color: black">{{ movie.average_rating | number: '1.1-1' }} ⭐</p>
          <p class="card-text" style="color: black">{{ movie.description }}</p>
          <a [routerLink]="['/movies/', movie.id]" class="btn btn-primary"
             style="background-color: red; border-color: red">Learn More</a>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <h3 style="color: #f2a223"><a routerLink="/movielist/TopRated">Top Rated</a></h3>
  </div>
  <div class="row">
    <div *ngFor="let movie of movies_rating" class="col-md-3 mb-4">
      <div class="card h-100">
        <img alt="Movie poster" class="card-img-top" src="http://127.0.0.1:8000{{movie.image_url}}">
        <div class="card-body">
          <h5 class="card-title" style="color: black">{{ movie.title }}</h5>
          <p class="card-text" style="color: black">{{ movie.average_rating | number: '1.1-1' }} ⭐</p>
          <p class="card-text" style="color: black">{{ movie.description }}</p>
          <a [routerLink]="['/movies/', movie.id]" class="btn btn-primary"
             style="background-color: red; border-color: red">Learn More</a>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <h3 style="color: #f2a223"><a routerLink="/movielist/MostReviews">Most Reviews</a></h3>
  </div>
  <div class="row">
    <div *ngFor="let movie of movies_reviews" class="col-md-3 mb-4">
      <div class="card h-100">
        <img alt="Movie poster" class="card-img-top" src="http://127.0.0.1:8000{{movie.image_url}}">
        <div class="card-body">
          <h5 class="card-title" style="color: black">{{ movie.title }}</h5>
          <p class="card-text" style="color: black">{{ movie.average_rating | number: '1.1-1' }} ⭐</p>
          <p class="card-text" style="color: black">{{ movie.description }}</p>
          <a [routerLink]="['/movies/', movie.id]" class="btn btn-primary"
             style="background-color: red; border-color: red">Learn More</a>
        </div>
      </div>
    </div>
  </div>
</div>
