<mat-toolbar color="primary" class="navbar">
    <button class="toolbar-button" aria-label="Example icon-button with menu icon" [routerLink]="['/movielist/', 'All']" >All</button>
    <button class="toolbar-button" aria-label="Example icon-button with menu icon" [routerLink]="['/movielist/', 'Latest']">Latest</button>
    <button class="toolbar-button" aria-label="Example icon-button with menu icon" [routerLink]="['/movielist/', 'TopRated']">Top Rated</button>
    <button class="toolbar-button" aria-label="Example icon-button with menu icon" [routerLink]="['/movielist/', 'MostReviews']">Most Reviews</button>  
</mat-toolbar>