<div id="shell">
  <app-header></app-header>
</div>
<div class="container mt-5">
  <div class="row">
    <div class="col-lg-6 mx-auto">
      <div class="card shadow-lg p-3 mb-5 bg-white rounded">
        <div class="container mt-5">
          <form (ngSubmit)="onSubmit()" [formGroup]="registerForm">
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="first_name" style="color: black"><b>First Name</b></label>
                <input class="form-control" formControlName="first_name" id="first_name" name="first_name"
                       placeholder="Enter First Name"
                       type="text">
                <mat-error *ngIf="first_name && first_name.invalid && first_name.touched">
                  Your first name is empty
                </mat-error>
              </div>
              <div class="form-group col-md-6">
                <label for="last_name" style="color: black"><b>Last Name</b></label>
                <input class="form-control" formControlName="last_name" id="last_name" name="last_name"
                       placeholder="Enter Last Name" type="text">
                <mat-error *ngIf="last_name && last_name.invalid && last_name.touched">
                  Your last name is empty
                </mat-error>
              </div>
            </div>

            <div class="form-group">
              <label for="username" style="color: black"><b>Username</b></label>
              <input formControlName="username" id="username" name="username" placeholder="Enter username" required
                     type="text">
              <mat-error *ngIf="username && username.invalid && username.touched">
                Your username is not valid
              </mat-error>
            </div>

            <div class="form-group">
              <label for="email" style="color: black"><b>Email</b></label>
              <input formControlName="email" id="email" name="email" placeholder="Enter email" required type="text">
              <mat-error *ngIf="email && email.invalid && email.touched">
                Your email is not valid
              </mat-error>
            </div>

            <div class="form-group">
              <label for="password" style="color: black"><b>Password</b></label>
              <input formControlName="password" id="password" name="password" placeholder="Enter Password" required
                     type="password">
              <mat-error *ngIf="password && password.invalid && password.touched">
                Your password is not valid
              </mat-error>
            </div>
            <p *ngIf="failure" class="validation-summary-errors text-danger mb-3">
              Please enter the correct information.
            </p>
            <button class="btn btn-primary btn-block" type="submit">Register</button>
          </form>
          <div class="text-center mt-3">
            <a routerLink="/login">Already have an account? Login here!</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

