<div *ngIf="director!=null && director_id != null" id="shell">
  <app-header></app-header>
</div>
<div class="container d-flex justify-content-center mt-5">
  <form (ngSubmit)="onSubmit()" [formGroup]="directorForm" class="border rounded p-5 bg-light">
    <div class="form-group">
      <label for="name" style="color: black"><b>Director:</b></label>
      <input class="form-control" formControlName="name" id="name" required type="text" value={{director.name}}>
    </div>
    <div class="form-group">
      <label for="age" style="color: black"><b>Age:</b></label>
      <input class="form-control" formControlName="age" id="age" required type="number">
    </div>
    <div class="form-group">
      <label for="image_url" style="color: black"><b>Image:</b></label>
      <input (change)="uploadImage($event)" class="form-control-file" id="image_url" required style="color: black"
             type="file">
    </div>
    <p *ngIf="successMessage" style="color: green; padding-top: 20px">{{successMessage}}</p>
    <p *ngIf="errorMessage" style="color: red; padding-top: 20px">{{errorMessage}}</p>
    <button class="btn btn-primary" type="submit">Update Director</button>
  </form>
</div>




