.searchDesign{
  height: 44px;
  background: #212121;
  border: 1px solid #716e6e;
  color: #fff;
  font-size: 15px;
}

.btnDesign{
  height: 44px;
  border-radius: 0;
  width: 55px;
  background: #f02424;
  border: #f02424;
}
