<div *ngIf="movies$ | async as movies">
  <div id="main">
    <div class="row">
      <div *ngFor="let movie of movies" class="col-sm-6 col-md-4 col-lg-3" style="padding-bottom: 20px">
        <div class="card h-100">
          <div>
            <img *ngIf="movie.image_url" alt="{{movie.title}}" class="card-img-top"
                 src="http://127.0.0.1:8000{{movie.image_url}}">
            <div class="card-body">
              <h5 class="card-title" style="color: black">{{movie.title}}</h5>
              <h5 class="card-text" style="color: black">{{ movie.average_rating | number: '1.1-1' }}
                ⭐</h5>
              <a [routerLink]="['/movies/', movie.id]" class="btn btn-primary"
                 style="background-color: red; border-color: red">Learn More</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

