<div>
  <div>
    <h3>Movies</h3>
  </div>
  <form>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <input (keyup.enter)="searchMovies()" [(ngModel)]="searchQuery" class="form-control searchDesign" name="searchQuery"
                 placeholder="Search for movies" type="text">
          <button (click)="searchMovies()" class="btn btn-primary btnDesign" type="button">Search</button>
        </div>
      </div>
    </div>
  </form>
  <ng-container *ngIf="searchResults">
    <div class="row">
      <div class="col-md-6" *ngFor="let movie of searchResults | slice:0:18">
        <div [routerLink]="['/movie/', movie.id]" ]>
          <div class="card-img-overlay">
            <h5 class="card-title">Details</h5>
          </div>
          <img *ngIf="movie?.image_url" src="movie.image_url" [alt]="movie.title">
        </div>
      </div>
    </div>
  </ng-container>

</div>
