.navbar {
    justify-content: space-between;
    background-color: black;
}

.navbar-items {
    border-color: red;
    padding-left: 1rem;
}

.search-bar {
    margin-bottom: 0px;
    padding-right: 1rem;
}

.toolbar-button {
    background-color: black;
    color: white;
}

.toolbar-button:hover {
    color: red;
}