<mat-toolbar class="navbar" color="primary">
  <button aria-label="Home button" class="toolbar-button" mat-button routerLink="">
    <span>Home</span>
  </button>
  <button aria-label="Movie List button" class="toolbar-button" mat-button routerLink="/movielist/All">
    <span>Movie List</span>
  </button>
  <button aria-label="Director List button" class="toolbar-button" mat-button routerLink="/directorlist/">
    <span>Director List</span>
  </button>
  <app-search-bar></app-search-bar>
</mat-toolbar>

