<mat-toolbar color="primary" class="navbar">
    <button class="toolbar-button" aria-label="Example icon-button with menu icon" routerLink="">Home</button>
    <button class="toolbar-button" aria-label="Example icon-button with menu icon" routerLink="/movielist/All">Movie List</button>
    <button class="toolbar-button" aria-label="Example icon-button with menu icon"> </button> 
    <!--<button class="toolbar-button" aria-label="Example icon-button with menu icon">Favorites</button> -->

    <div class="search-bar">
          <app-search-bar></app-search-bar>
    </div>

</mat-toolbar>